html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/************************/

.table {
    font-family: 'Roboto', sans-serif;
}

div.table {
    display: flex;
    flex-direction: column;
}

div.table-row {
    display: flex;
    border-left: 1px solid #666;
}

    div.table-row:nth-child(odd) {
        border-top: 1px solid #666;
    }

    div.table-row:nth-child(odd),
    div.table-row:last-of-type {
        border-bottom: 1px solid #666;
    }

.table-header {
    font-weight: bold;
}

.table-cell {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #666;
    padding: 2px 5px 2px 5px;
}

.hcname {
    justify-content: left;
}

.hctime {
    font-family: 'Space Mono', monospace;
    font-style: normal;
}
